.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color:  #FD6E0A;
}
.btn-primary{
    color: var(--White-Color, #FFF);
font-family: "Open Sans";
font-size: 20px;
font-weight: 700;
border: none;
border-radius: 5px;
background: #FD6E0A;
width: 150px;
height: 64px;

}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-tittle{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
.secondary-bg{
    background-color:#fce2d0;
}
nav ul{
    display: flex;
    align-items: center;
}
banner-greetings{
    color: var(--Dark-02, #474747);
font-family: "Open Sans";
font-size: 45px;
font-style: normal;
font-weight: 600;
width: 198px;
height: 62px;
}
banner-tittle{
    color: var(--Dark-01, #181818);
font-family: "Open Sans";
font-size: 85px;
font-style: normal;
font-weight: 700;
width: 560px;
height: 116px;

}
.banner-image{
    width: 584px;
height: 676px;
flex-shrink: 0;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-contents{
    max-width: 584px;
}
.banner-description{
    color: var(--Dark-03, #757575);
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
width: 656px;
height: 60px;
}
.text-center{
    text-align: center;
}
.about-tittle{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: "Open Sans";
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.about-description{
    color: var(--Dark-03, #757575);
text-align: center;
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
width: 827px;
height: 120px;
}
.about{
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
main{
    max-width: 1140px;
        margin: 0px auto;
    }
    .item-description{
        font-weight: 600;
    }
    .about-itemss{
        display: flex;
        justify-content:space-around
    }
.section-description{
    color: var(--Dark-03, #757575);
text-align: center;
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width: 909px;
height: 90px;
justify-content: space-around;
margin: 5px 145px;
}
.skills{
    display: flex;
    gap: 24px;

}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;

}
.skill-description{
    color: var(--Dark-03, #757575);
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.skill-tittle{
    color: var(--Dark-01, #181818);
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description,.experience-sub-tittle{
    color: #757575;
}
.experience-sub-tittle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom:20px;
}
.resume hr{
    margin: 30px;
}
.experience-title{
    color: var(--Dark-02, #474747);
font-family: "Open Sans";
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume-tittle{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: "Open Sans";
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume{
    margin: 100px;
}
.resume-column-tittle{
    color: var(--Dark-02, #474747);
font-family: "Open Sans";
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.rsm-btn{
    margin-top: 50px;
}